<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/parties">Parties</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/menu_items">Menu Items</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/order_tickets">Order Tickets</a></li>
  </ul>
</div>

<div class="pure-g" id="title">
  <div class="pure-u-1-1">
    <h3>Welcome <%= current_user.username %>!</h3>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-1">
    <%= button_to "Log Out", sessions_path, method: :delete, :class => "pure-button" %>
  </div>
</div>
