<div class="row">
  <div class="twelve columns">
    <h1>Welcome <%= current_user.username %></h1>
  </div>
</div>
<div class="row">
  <div class="three columns">
    <a class="button" href="/menu_items">Menu Items</a>
  </div>
  <div class="three columns">
    <a class="button" href="/parties">Parties</a>
  </div>
  <div class="three columns">
    <a class="button" href="/order_tickets">Order Tickets</a>
  </div>
  <div class="three columns">
    <%= button_to "Log Out", sessions_path, method: :delete %>
  </div>
</div>
