<div class="row">
  <div class="twelve columns">
    <h1>Welcome to the RESTaurantApp</h1>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <a class="button" href="/users/new">New User</a>
    <a class="button" href="/log_in">Log In</a>
  </div>
</div>
