<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/log_in">Log In</a></li>
  </ul>
</div>
