/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require pure
 */

body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

header {
  background-color: #64706c;
}

footer {
  margin: 60px;
}

a {
  text-decoration: none;
  color: #963019;
}

li {
  list-style-type: none;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 20px;
}

p {
  font-family: 'Quicksand', sans-serif;
  margin-top: 0;
}

.pure-menu-horizontal {
  background-color: #E6E6E6;
}

.pure-button {
  font-family: 'Quicksand', sans-serif;
}

.usd, .eur {
  display: inline-block;
}

.a-tables,
.b-tables,
.c-tables,
.d-tables {
  height: 20px;
  width: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  background-color: #ede9ce;
}
