<!DOCTYPE html>
<html>
<head>
  <title>RESTaurantApp</title>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>PLACEmat</h1>
      </div>
    </div>
  <%= yield %>
  </div>
</body>
</html>
